.bodyhomepage {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    background: #549633;
    background: radial-gradient(circle,rgba(84, 150, 51, 1) 0%, rgba(240, 255, 238, 1) 100%);
}

.homepageh1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "DM Serif Display", serif;
    font-size: 95px;
    letter-spacing: 0.10em;
    font-weight: 500;
    transform: translate(-50%, -50%) scaleX(1.1);
    color: #194d07;
}

.pouringmatcha {
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: auto;
}

.symbolshomepage {
    position: absolute;
    top: 85%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.smallicons {
    width: 44px;
    height: 44px;
}

.symbolhomepage {
    display: flex;
    align-items: center;
    color: #194d07;
    font-size: 20px;
}
