.bodyhomepage {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    background: #549633;
    background: radial-gradient(circle,rgba(84, 150, 51, 1) 0%, rgba(240, 255, 238, 1) 100%);
}

.homepageh1 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "DM Serif Display", serif;
    font-size: 95px;
    letter-spacing: 0.10em;
    font-weight: 500;
    transform: translate(-50%, -50%) scaleX(1.2);
    color: #194d07;
}

.pouringmatcha {
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: auto;
}

.symbolshomepage {
    position: absolute;
    top: 85%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.smallicons {
    width: 44px;
    height: 44px;
}

.symbolhomepage {
    display: flex;
    align-items: center;
    color: #194d07;
    font-size: 20px;
}

.homepage {
    font-family: 'Amiri', serif;
    font-size: 14px;
    line-height: 1.7;
    color: #194d07;
    position: absolute;
    top: 67%;
    left: 6%;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
}

.viewbutton {
    position: absolute;
    bottom: 9%;
    left: 6%;
    background-color: black;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    font-family: 'Amiri', serif;
    transition: 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.viewbutton:hover {
    background-color: white;
    color: black;
}

.signupicon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 4%;
    top: 4%;
}

.navbar {
    position: absolute;
    top: 2%;
    left: 30%;
    transform: translateX(-50%);
    align-items: center;
    font-size: 25px;
    z-index: 1000;
}

.navlinks {
    display: flex;
    gap: 60px;
    flex-direction: row;
    list-style: none;
    align-items: center;
    z-index: 1000;
}

.navlinks a {
    text-decoration: none;
    color: #194d07;
    font-family: Arial;
    transition: 0.3s ease;
    font-size: 22px;
    display: inline-block;
    position: relative;
}

.navlinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #194d07;
  transition: width 0.3s ease;
}

.navlinks a:hover::after {
  width: 100%;
}

.navlinks a.active::after {
  width: 100%;
}

.navlogo {
    width: 200px;
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 32px;
    color: #194d07;
}

.signupbutton {
    position: absolute;
    right: 8%;
    top: 5%; 
    text-decoration: none;
    color: #194d07;
    font-family: Arial;
    font-size: 20px; 
}

.signupbutton:hover {
    text-decoration: underline;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 40px; 
    margin-top: 50px;
    position: absolute;
    top: 23%;
    left:12%;
    color: #194d07;
}

.menupageh2 {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.menudesc {
    width: 80%;
    margin: 0 auto;
    font-family: "Amiri", serif;
    font-size: 16px;
    text-align: left;
}


.menupageh1 {
    font-family: "Amiri", serif;
    font-size: 60px;
    color: #194d07;
    position: absolute;
    font-weight: 400;
    top: 9%;
    left: 10%;
}


.menudivider {
  position: absolute;
  top: 23%;
  left: 10%;
  width: 1400px;
  height: 2px;
  background-color: #194d07;
}

.menuitem {
    text-align: center;
}

.menuitem img {
    display: block;
    margin: 0 auto 15px;
}

.img {
    width: 100px;
    height: auto;
}

.contactuspageh1 {
    font-family: "Amiri", serif;
    font-size: 70px;
    color: #194d07;
    position: absolute;
    font-weight: 300;
    top: 8%;
    left: 47%;
    transform: translateX(-50%);
}

.contactusdivider {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 1400px;
  height: 2px;
  background-color: #194d07;
}

.contactusform {
    position: absolute;
    top: 35%;
    left: 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
}

.formitems {
    border-color: #194d07;
    border-width: 1px;
    border-radius: 2px;
    height: 30px;
    font-size: 16px;
    padding: 8px 12px;
    font-family: 'Amiri', serif;
}

.contactformsubmit {
    width: 90px;
    height: 40px;
    background-color: #194d07;
    color: white;
    border-color: #194d07;
    font-family: "Amiri", serif;
    border-radius: 6px;
}

.contactformsubmit:hover {
    background-color: white;
    color: #194d07;
    border-color: #194d07;
    cursor: pointer;
}

.contactinfo {
    position: absolute;
    top: 35%;
    right: 25%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.contactinfoitems {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.messagebox {
    height: 200px;
    font-family: 'Amiri', serif;
    border-color: #194d07;
    padding: 8px 12px;
    font-size: 16px;
}

.infolabels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #194d07;
    font-weight: 600;
}

.contactusinfo {
    font-family: "Arimo", sans-serif;
}

.powderimg{
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 24%;
}

.whiskimg{
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.homebutton {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 2%;
    right: 1%;
    transition: 0.3s ease;
    z-index: 1000;
}

.signuppageimg {
    position: absolute;
    height: auto;
    width: 540px;
    right: 0;
    top: 0;
    bottom: 0;
}


.signuppageh1 {
    font-family: "Amiri", serif;
    font-size: 50px;
    color: #194d07;
    position: absolute;
    font-weight: 800;
    top: 10%;
    left: 15%;
    transform: translateX(-50%);
}

.signuppageh2 {
    font-family: "Amiri", serif;
    font-size: 22px;
    color: #194d07;
    position: absolute;
    font-weight: 400;
    top: 20%;
    left: 10%;
}

.signupform {
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.signupitems {
    border-color: #194d07;
    border-width: 1px;
    border-radius: 2px;
    height: 40px;
    width: 700px;
}

.formlabels {
    font-family: "Amiri", serif;
    font-size: 16px;
    color: #194d07;
    font-weight: 400;
}

.signupformsubmit {
    width: 100px;
    height: 40px;
    background-color: #194d07;
    color: white;
    border-color: #194d07;
    font-family: "Amiri", serif;
    border-radius: 6px;
    margin-top: 15px;
    margin-left: 600px;
    font-size: 16px;
}

.signupformsubmit:hover {
    background-color: white;
    color: #194d07;
    border-color: #194d07;
    cursor: pointer;
}

@media (max-width: 480px) {
    .navlinks {
        display: none;
    }

    .bodyhomepage {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    background: #549633;
    background: radial-gradient(circle,rgba(84, 150, 51, 1) 0%, rgba(240, 255, 238, 1) 100%);
}

.homepageh1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "DM Serif Display", serif;
    font-size: 60px;
    letter-spacing: 0.10em;
    font-weight: 500;
    transform: translate(-50%, -50%) scaleX(1.2);
    color: #194d07;
    display: flex;
    text-align: center;
}

.pouringmatcha {
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: auto;
}

.imgcontainermobile {
    overflow: hidden;
    position: relative;
    width: 100%;  
    height: 940px;
}

.symbolshomepage {
    position: absolute;
    top: 86%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.smallicons {
    width: 30px;
    height: 30px;
}

.symbolhomepage {
    display: flex;
    align-items: center;
    color:black;
    font-size: 15px;
}

.homepage {
    font-family: 'Amiri', serif;
    font-size: 14px;
    line-height: 1.7;
    color: black;
    position: absolute;
    top: 67%;
    left: 6%;
    width: 250px;
    font-weight: 200;
    font-size: 15px;
}

.viewbutton {
    position: absolute;
    bottom: 13%;
    left: 6%;
    background-color: black;
    color: white;
    padding: 6px 28px;
    text-decoration: none;
    font-family: 'Amiri', serif;
    transition: 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.viewbutton:hover {
    background-color: white;
    color: black;
}

.signupicon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 4%;
    top: 4%;
}

.navlogo {
    width: 180px;
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 32px;
    color: #194d07;
    z-index: 1000;
}

.signupbutton {
    position: absolute;
    right: 15%;
    top: 5%; 
    text-decoration: none;
    color: #194d07;
    font-family: Arial;
    font-size: 15px; 
}

.signupbutton:hover {
    text-decoration: underline;
}

.menu {
    width: 100%;
    max-width: 350px;
    display:inline-block;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    align-items: flex-start;
    position: absolute;
    color: #194d07;
    padding: 0 20px;
    top: 20%; 
    left: 0;  
    margin-bottom: 20px;
}

.menupageh2 {
    font-family: "Amiri", serif;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.menudesc {
    width: 80%;
    margin: 0 auto;
    font-family: "Amiri", serif;
    font-size: 12px;
    text-align: left;
}


.menupageh1 {
    font-family: "Amiri", serif;
    font-size: 40px;
    color: #194d07;
    position: absolute;
    font-weight: 400;
    top: 11%;
    left: 8%;
}


.menudivider {
  position: absolute;
  top: 21%;
  left: 8%;
  width: 350px;
  height: 1px;
  background-color: #194d07;
}

.menuitem {
    text-align: center;
    width: 160px;
    padding-bottom: 25px;
}

.menuitem img {
    display: block;
    margin: 0 auto 15px;
}

.img {
    width: 60px;
    height: auto;
}

}