.bodyhomepage {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    background: #26991c;
    background: radial-gradient(circle,rgba(38, 153, 28, 1) 0%, rgba(247, 245, 240, 1) 100%);
}

.homepageh1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display", serif;
    font-size: 72px;
    letter-spacing: 0.15em;
    font-weight: 600;
    color: #0F4D2F;
}