.bodyhomepage {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    background: #549633;
    background: radial-gradient(circle,rgba(84, 150, 51, 1) 0%, rgba(240, 255, 238, 1) 100%);
}

.homepageh1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "DM Serif Display", serif;
    font-size: 95px;
    letter-spacing: 0.10em;
    font-weight: 500;
    transform: translate(-50%, -50%) scaleX(1.1);
    color: #194d07;
}

.pouringmatcha {
    position: absolute;
    top: -215px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: auto;
}

.symbolshomepage {
    position: absolute;
    top: 85%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.smallicons {
    width: 44px;
    height: 44px;
}

.symbolhomepage {
    display: flex;
    align-items: center;
    color: #194d07;
    font-size: 20px;
}

.homepage {
    font-family: 'Amiri', serif;
    font-size: 14px;
    line-height: 1.7;
    color: #194d07;
    position: absolute;
    top: 67%;
    left: 6%;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
}

.viewbutton {
    position: absolute;
    bottom: 9%;
    left: 6%;
    background-color: black;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    font-family: 'Amiri', serif;
    transition: 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.viewbutton:hover {
    background-color: white;
    color: black;
}

.signupicon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 4%;
    top: 4%;
}

.navbar {
    position: absolute;
    top: 2%;
    left: 30%;
    transform: translateX(-50%);
    align-items: center;
    font-size: 25px;
    z-index: 1000;
}

.navlinks {
    display: flex;
    gap: 60px;
    flex-direction: row;
    list-style: none;
    align-items: center;
    z-index: 1000;
}

.navlinks a {
    text-decoration: none;
    color: #194d07;
    font-family: Arial;
    transition: 0.3s ease;
    font-size: 22px;
    display: inline-block;
    position: relative;
}

.navlinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #194d07;
  transition: width 0.3s ease;
}

.navlinks a:hover::after {
  width: 100%;
}

.navlinks a.active::after {
  width: 100%;
}

.navlogo {
    width: 200px;
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 32px;
    color: #194d07;
}

.signupbutton {
    position: absolute;
    right: 8%;
    top: 5%; 
    text-decoration: none;
    color: #194d07;
    font-family: Arial;
    font-size: 20px; 
}

.signupbutton:hover {
    text-decoration: underline;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 40px; 
    margin-top: 50px;
    position: absolute;
    top: 22%;
    left:12%;
    color: #194d07;
}

.menupageh2 {
    font-family: "Amiri", serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.menudesc {
    width: 80%;
    margin: 0 auto;
    font-family: "Amiri", serif;
    font-size: 16px;
    text-align: left;
}


.menupageh1 {
    font-family: "Amiri", serif;
    font-size: 50px;
    color: #194d07;
    position: absolute;
    font-weight: 400;
    top: 11%;
    left: 10%;
}


.menudivider {
  position: absolute;
  top: 23%;
  left: 10%;
  width: 1400px;
  height: 2px;
  background-color: #194d07;
}

.menuitem {
    text-align: center;
}

.menuitem img {
    display: block;
    margin: 0 auto 15px;
}

.img {
    width: 100px;
    height: auto;
}